
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent the whole page from scrolling */
}

.ad {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}


.top-ad {
    width: 72%;
    height: 100px; /* Adjust height as needed */
    margin: 20px auto 0; /* Center horizontally and add margin-top */
    top: 0;
}


.main-container {
    display: flex;
    height: calc(100vh - 115px); /* Adjust based on top ad height */
    overflow: hidden; /* Prevent the whole page from scrolling */
    margin-top: -200px; /* Move it up by 20px, adjust as needed */
    background-color: rgb(166, 197, 207);
}

.left-ad, .right-ad {
    width: 170px;
}

.left-ad {
    height: 100%;
    position: fixed;
    top: 100px; /* Adjust based on top ad height */
    left: 0;
    background-color: lightgray;
}

.right-ad {
    height: 100%;
    position: fixed;
    top: 100px; /* Adjust based on top ad height */
    right: 0;
    background-color: lightgray;
}

.editor-container {
    margin: 50px 200px; /* Increased margins */
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Make the editor container scrollable */
    background-color: white;
}

.editor-header {
    background-color: #ddd;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.editor-header button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#editor {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    overflow-y: auto;
}
